RewriteEngine on
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteRule ^dashboard myprofile.php [QSA]
RewriteRule ^result(.*)$ result.php [QSA]
RewriteRule ^login(.*)$ login.php [QSA]
RewriteRule ^landing(.*)$ index.php [QSA]
RewriteRule ^reset_password(.*)$ reset_password.php [QSA]
RewriteRule ^forget_password(.*)$ forget_password.php [QSA]
RewriteRule ^register(.*)$ register.php [QSA]
RewriteRule ^logout(.*)$ logout.php [QSA]
RewriteRule ^editprofile(.*)$ editprofile.php [QSA]
RewriteRule ^exam(.*)$ exam.php [QSA]
ErrorDocument 404 https://service.prothomalo.com/modeltest/404.php
ErrorDocument 401 https://service.prothomalo.com/modeltest/404.php
ErrorDocument 403 https://service.prothomalo.com/modeltest/404.php
ErrorDocument 500 https://service.prothomalo.com/modeltest/404.php